---
 const personalImageAlt = "German's picture"
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Con una formación sólida en Comunicación Audiovisual y un Grado Superior en Técnico de Sonido, mi carrera comenzó entre micrófonos y mesas de mezcla en estudios de sonido profesionales y rodajes. Sin embargo, mi vida tomó un giro inesperado y emocionante cuando, junto con amigos, abrimos un bar de coctelería inspirado en nuestra pasión compartida: los videojuegos. Este emprendimiento no solo me sumergió en el mundo de la gestión de negocios, sino que también me permitió explorar la planificación de eventos, el mantenimiento técnico y la gestión de inventarios, todo mientras servía la próxima ronda de innovación y diversión.
    </p>

    <p>
      A medida que el negocio crecía y mi presencia en el se hacía menos necesaria, redescubrí una vieja llama: la programación. Este interés, que siempre había compartido espacio en mi corazón con la música, se convirtió en el siguiente capítulo de mi viaje profesional. Sumergiéndome en el mundo del desarrollo web, encontré una nueva forma de expresión y creación, una donde el código y la creatividad danzan al ritmo de soluciones innovadoras y experiencias digitales envolventes.
    </p>

    <p>
      Hoy, mientras continúo explorando este fascinante cruce de caminos entre tecnología, arte y emprendimiento, busco oportunidades donde pueda aportar no solo mi expertise técnico sino también mi capacidad única para orquestar proyectos que resonan en el corazón de la audiencia. Porque al final del día, ya sea detrás de una cámara, una barra de bar, o un teclado, mi objetivo siempre ha sido el mismo: crear experiencias memorables que inspiren y deleiten.
    </p>
  </div>

  <img src=https://avatars.githubusercontent.com/u/124883232?v=4" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</article>

